<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.albert.plus.mapper.StudentMapper">
    <!--
      <select>: 查询数据， 标签中必须是 select 语句
            id: sql 语句的自定义名称，推荐使用 dao 接口中方法名称，
                使用名称表示要执行的 sql 语句
    resultType: 查询语句的返回结果数据类型，使用全限定类名
    -->
    <select id="selectByName" resultType="com.albert.plus.entity.Student">

        select id, name, age, email, status from tbl_student
        order by id
    </select>


</mapper>